# Backend
weather-backend/.gradle/
weather-backend/build/
weather-backend/out/
weather-backend/*.log

# Frontend
weather-frontend/node_modules/
weather-frontend/dist/
weather-frontend/.vite/
weather-frontend/cypress/screenshots/
weather-frontend/cypress/videos/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
